@import './fonts.css'
@import 'normalizecss/normalize.css'
@import './bespoke-base'

$color-white-0 = #fff
$color-white-1 = #eee
$color-black-0 = #000
$color-black-1 = #2b2b2b
$color-cyan-1 = #71ebf4
$color-pink-1 = #ff5e99
$color-lime-1 = #abc34a

body
  font-size: 16px

::selection
  color: $color-white-0
  background-color: $color-pink-1
  text-shadow: none

em
  font-style: normal
  color: $color-cyan-1

article.deck
  font-family: "Lato", sans-serif
  //font-size: 2.25rem
  color: $color-white-1
  background-color: $color-black-0

section
  background-color: $color-black-1
  h1, h2
    font-size: 3rem
    font-weight: 900
    text-align: center
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2)
  &.title
    background-image: url(../images/monk-writing.jpg)
    background-size: cover
    background-repeat: no-repeat
    h1
      color: $color-cyan-1
  &.poster
    &:not(.invert)
      background-color: $color-black-0
    img
      max-width: 100%
      max-height: 100%
    // fix scaling in Firefox
    display: block
    img
      position: relative
      top: 50%
      left: 50%
      transform: translateX(-50%) translateY(-50%)

p.author
  font-weight: 300
  margin: 0

p.small
  //font-size: 0.75em
  font-size: 0.9em
  margin: 0
  font-weight: 300

h2 i.fa
  font-size: 0.75em
  vertical-align: 0.15em
  color: #707070

h2.subject, h2.reflect
  line-height: 1
  margin: 0
  width: 100%
h2.reflect
  border-bottom: 1px solid #404040
  transform: scaleX(-1) scaleY(-1)
  opacity: 0.5
  position: relative
  &::after
    background-image: linear-gradient(to bottom, #2b2b2b, transparent)
    //background-image: linear-gradient(to bottom, rgba(43, 43, 43, 0.9) 35%, transparent 100%)
    display: block
    content: ''
    position: absolute
    width: 100%
    margin-top: -1em
    height: 1em

.shield
  text-align: center
  padding: 0 0.5em
  span.icon
    font-size: 2.5rem
    color: $color-cyan-1
    display: block
    height: 2em
    width: 2em
    line-height: 2
    border: 1px solid $color-white-1
    border-radius: 50%
  span.text
    display: block
    margin-top: 0.25em

.listing
  color: #eee
  //justify-content: flex-start
  align-items: flex-start
  pre
    margin: 0
    width: 100%
    white-space: pre-wrap
    overflow: hidden
    > code
      display: block
      padding: 1em 0.75em
      font-size: 1.0625em
      font-family: "Roboto Mono", monospace
      word-spacing: -0.1em
      font-weight: 300
      //line-height: 1.65
      line-height: 1.5
      font-size: 0.9em

section.fin
  background-image: url(../images/automated-hand-writing.jpg)
  background-size: cover
  background-repeat: no-repeat
  justify-content: flex-end
  h2
    width: 100%
    text-align: left
    margin: 0
    padding: 0 0 0.5em 0.75em

@import 'highlight.js/styles/hybrid.css'
//@import 'highlight.js/styles/dark.css'
//@import 'highlight.js/styles/agate.css'

.hljs, .listing pre > code
  background-color: #1e1e1e
