@import './fonts.css'
@import 'normalizecss/normalize.css'
@import './bespoke-base'

body
  font-size: 16px

article.deck
  color: rgba(0, 0, 0, 0.8)
  background-color: #000

section
  background-color: #fff
