doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Power Tools for Writers
    link(rel='stylesheet', href='build/build.css')
  body
    article.deck
      section.title
        h1 Power Tools for Writers
        p.author Guillaume Scheibel &middot; Dan Allen
      section
        ul(style='list-style: none; padding: 0; margin: 0')
          li <i class="fa fa-eye"></i> Read
          li <i class="fa fa-keyboard-o"></i> Edit
          li <i class="fa fa-git"></i> Version
          li <i class="fa fa-share-square-o"></i> Collaborate
          li <i class="fa fa-flask"></i> Publish
      section
        h2 À la carte preview
      section
        h2 A writer’s IDE
      section
        h2 Sharing
      section
        h2 Publishing
      section
        h2 Docs = Code!
      section.poster
        img(src='images/fork-and-fix.png') 
      section.poster
        img(src='images/hubpress-screenshot.jpg')
      section
        h2 Diagrams from plain text
      section
        h2 Write once, publish everywhere
      section
        h2 ...
      section
        h2 Write with power!
    script(src='build/build.js')
