doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Power Tools for Writers
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    article.deck
      section.title
        h1 Power Tools for Writers
        p.author Guillaume Scheibel &middot; Dan Allen
    script(src='build/build.js')
